version: '3.9'

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    networks:
      - traefik-proxy # Pour la communication avec les autres services
      
    command:
      # --- Global & Providers ---
      - --log.level=DEBUG
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false 
      
      # --- API & Dashboard ---
      - --api=true
      - --api.dashboard=true # L'API est maintenant routée via les labels
      - --api.insecure=true
      
      # --- Entrypoints ---
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      
      # --- Certificats (Let's Encrypt) ---
      - --certificatesresolvers.le.acme.email=bkeller@valaisweb.com # REMPLACER!
      - --certificatesresolvers.le.acme.storage=/acme/acme.json
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
      
    ports:
      - "80:80"
      - "443:443"
    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./acme:/acme
      
    restart: unless-stopped
    
    labels:
      # 1. Activer Traefik pour le Dashboard
      - "traefik.enable=true"
      
      # 2. Définir le service interne (l'API de Traefik)
      - "traefik.http.services.dashboard.loadbalancer.server.port=8080"

      # --- ROUTEUR HTTPS (Dashboard) ---
      - "traefik.http.routers.dashboard.rule=Host(`v1.valaisweb.com`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls.certresolver=le"
      
      # --- REDIRECTION HTTP vers HTTPS ---
      - "traefik.http.routers.dashboard-http.rule=Host(`v1.valaisweb.com`)"
      - "traefik.http.routers.dashboard-http.entrypoints=web"
      - "traefik.http.routers.dashboard-http.middlewares=https-redirect"
      - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https-redirect.redirectscheme.permanent=true"

networks:
  traefik-proxy:
    external: true

